@model IEnumerable<Restaurant.Models.Entities.About>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Konu Listesi</h1>
<hr>

<p>
    <a asp-action="Create" class="btn btn-primary">Konu Ekle</a>
</p>
<table class="table table-striped table-bordered" id="myTable">
    <thead>
        <tr>
            <th>Konu Başlığı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="category-name">@Html.DisplayFor(modelItem => item.Title)</td>
                <td class="actions text-start">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">
                        <i class="bi bi-pencil"></i> Düzenle
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}
