@using Restaurant.Models.Entities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurant.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/Site/images/logo.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="name">Aktas Restoran</span>
                    <span class="profession">Admin Paneli</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Anasayfa</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Gallery" asp-action="Index">
                                <i class='bx bx-image-alt icon'></i>
                                <span class="text nav-text">Galeri</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="About" asp-action="Index">
                                <i class='bx bx-info-circle icon'></i>
                                <span class="text nav-text">Hakkımızda</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Iletisim" asp-action="Index">
                                <i class='bx bx-map-pin icon'></i>
                                <span class="text nav-text">İletişim</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                                <i class='bx bx-category icon'></i>
                                <span class="text nav-text">Kategori</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Menu" asp-action="Index">
                                <i class='bx bx-food-menu icon'></i>
                                <span class="text nav-text">Menü</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Contact" asp-action="Index">
                                <i class='bx bx-chat icon'></i>
                                <span class="text nav-text">Mesajlar</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Reservation" asp-action="Index">
                                <i class='bx bx-time-five icon'></i>
                                <span class="text nav-text">Rezervasyon</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="Blog" asp-action="Index">
                                <i class='bx bx-message-square-detail icon'></i>
                                <span class="text nav-text">Yorumlar</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class='bx bx-user-circle icon'></i>
                                <span class="text nav-text">Kullanıcılar</span>
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    
                }

                </div>

                <div class="bottom-content">

                    <li>
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Çıkış</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Karanlık Mod</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>

                </div>
            </div>
    </nav>

    <section class="home">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>