@if (User.Identity.IsAuthenticated)
{
    <form asp-area="Account" asp-controller="Login" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-link">Çıkış Yap</button>
    </form>
}
else
{
    <a asp-area="Account" asp-controller="Login" asp-action="Logout">Giriş Yap</a>
}
